


<h3 *ngIf="m_termType == 'termEnglish'">{{m_term.wordEnglish}}</h3>
<h3 *ngIf="m_termType == 'termNonEnglish'">{{m_term.wordNonEnglish}}</h3>


<div class="text-center">


    <h4>{{m_term.wordExpanded}}</h4>
    <p>{{m_term.fieldOfStudy}} </p>

  
  <button class="btn btn-success" (click)="onClickHelpful()">Helpful[{{m_term.helpYes}}]</button>
  <button class="btn btn-danger"(click)="onClickNotHelpful()">Not Helpful[{{m_term.helpNo}}]</button>
<ul class="list-group">
  <li class="list-group-item">
      <a class="btn btn-warning" routerLink="/edit/{{m_termType}}/{{m_term._id}}">Edit</a>
      <a class="btn btn-danger" (click)="deleteTerm(m_term._id)">Delete</a>
  </li>
  <li *ngIf="m_termType == 'termNonEnglish'" class="list-group-item"> <a routerLink="/details/termEnglish/{{m_term.termEnglish}}" class="btn btn-primary">EnglishTerm</a> </li>

  <li class="list-group-item">Author : {{m_term.authorName}}</li>
  <li class="list-group-item">Language Code : {{m_term.languageCode}}</li>
  <li class="list-group-item">Date Revised : {{m_term.dateRevised}}</li>
  <li class="list-group-item">Date Created : {{m_term.dateCreated}}</li>
 
  <li class="list-group-item"></li>
  <li class="list-group-item">Wikipedia : <a href="url">{{m_term.linkWikipedia}}</a></li>
  <li class="list-group-item">Youtube : <a href="url">{{m_term.linkYoutube}}</a></li>
  <li class="list-group-item">Link Authoritative : <a href="url">{{m_term.linkAuthoritative}}</a></li>
  <li class="list-group-item">Audio : <a href="url">{{m_term.audio}}</a></li>
  
</ul>
  

</div>
<p><a class="btn btn-info" routerLink="/create/definition/{{m_termType}}/{{m_term._id}}">Add Definition</a></p>



<table class="table table-striped">
  <thead>
    <tr>
      <th>Author</th>
      <th>Definition</th>
      <th>quality</th>
      <th>likes</th>
      <th>Date Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let def of m_definitions; let i = index'>
      <td>{{ def.authorName }}</td>
      <td>{{ def.definition }}</td>
      <td>{{ def.quality }}</td>
      <td>{{ def.likes }}</td>
      <td>{{ def.dataCreated }}</td>
      <td>
        <a class="btn btn-success" (click)="onClickDefinitionLike(def)">Like![{{def.likes}}]</a>&nbsp;
        <a routerLink="/edit/definition/{{def._id}}" class="btn btn-warning">Edit</a>&nbsp;
        <a (click)="onClickDefDelete(def._id)" class="btn btn-danger">Delete</a>&nbsp;
      </td>
    </tr>
  </tbody>
</table>





